.container {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  padding: 2%;
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputfield {
  margin-right: 1%;
  background-color: #e6e6f5;
  color: #3b3b3b;
}

.btn {
  background-color: #3c50b4;
  color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.6%;
  padding-bottom: 2.2%;
  text-align: center;
  /* padding-right: 5%; */
}

.btn:hover {
  background-color: #e6e6f5 !important;
  color: #000000 !important;
}
